<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Python39" />
            <add name="Python39" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python39\python.exe %s %s" resourceType="File" requireAccess="Execute" />
        </handlers>
    </system.webServer>
</configuration>
